<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>YOUR VM FACTORY - MORE EASY, MORE COMFORTABLE LIFE</title>

    <script src="static/js/bower_components/jquery/dist/jquery.js"></script>
    <script src="static/js/bower_components/babel/browser-polyfill.js"></script>
    <script src="static/js/bower_components/babel/browser.js"></script>
    <script src="static/js/bower_components/react/react.js"></script>
    <script src="static/js/bower_components/react/react-dom.js"></script>

    <!--semantic ui start-->
    <link rel="stylesheet" type="text/css" href="static/css/semantic.min.css"/>
    <script src="static/css/semantic.min.js"></script>
    <!--semantic ui end-->
    <div id='VMFactory' class="ui basic segment container"/>
    <script type="text/babel" src="static/js/vmfactory.js"></script>

  </head>
  <body> 
  </body>
</html>
