<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Your VM Factory - Login</title>
    <!--semantic ui start-->
    <script src="../static/js/bower_components/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/semantic.min.css" />
    <script src="../static/css/semantic.min.js"></script>
    <!--semantic ui end-->
  <style type="text/css">
    body {
      background-color: #EEEEEE;
    }
    body > .grid {
      height: 100%;
    }
    .mb {
      margin-bottom: 10px;
    }
    .column {
      max-width: 450px;
    }
  </style>
  </head>

  <body>

    <div class="ui middle aligned center aligned grid">
    <div class="column">
    <!--    <h2 class="ui teal image header">
      <img src="assets/images/logo.png" class="image">
      <div class="content">
        Log-in to your account
      </div>
    </h2> -->
      <div class="mb">
        <h2 class="ui header aligned left">
          <i class="tasks icon"></i>
          <div class="content">VMFactory<div class="sub header">VM / Volume create more easily</div></div>
        </h2>
      </div>
      <form class="ui large form" action="" method="post">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="userid" placeholder="ID">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Password">
            </div>
          </div>
          <button class="ui fluid large primary button" type="submit">Log in</button>
        </div>
      </form>
      <div class="ui message">New to us? Find <i title="soohyun.park@hyundai-autoever.com">Suarez</i>!!! <i class="bomb icon"></i></div>
    </div>
    </div>

  </body>
</html>
